* {
    margin: 0;
    padding: 0;
    font-weight: normal;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}

.menu {
    background-color: #342C25FF;
    font: 1.0em Lato, sans-serif;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menuContainer {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.mainMenu {
    display: flex;
    flex-direction: row;
    align-items: start;
    list-style-type: none;
}

.mainA {
    position: relative;
    display: block;
    padding: 18px 16px;
    font-family: Lato, sans-serif;
    color: #ecf0f1;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
}

.mainA::after {
     position: absolute;
     content: "";
     top: 100%;
     left: 0;
     width: 100%;
     height: 3px;
     background: #cea655;
     transform: scaleX(0);
     transform-origin: right;
     transition: transform 0.5s;
}

.mainA:hover {
     color: #e3ca99;
}

.mainA:hover::after {
     transform: scaleX(1);
     transform-origin: left;
}

.loginLink {
    text-align: center;
    background-color: #f2f2f2;
    transition: 1s;
}

.loginLink a, .langMenu span, .loginMenu span {
    display: inline-block;
    color: #b08f34;
    padding: 18px 16px;
    text-transform: uppercase;
}

.loginLink a:hover, .langMenu span:hover, .langMenu span:active, .loginMenu span:hover {
    color: #f2f2f2;
}

.langMenu:hover, .loginLink:hover, .loginMenu:hover {
    background-color: #cea655;
}

.languages, .logins, .userItems {
    visibility: hidden;
    opacity: 0;
    display: none;
    background: #f2f2f2;
    position: absolute;
}

.logins {
    left: 0;
}

.languages {
    right: 0;
}

.langMenu:hover > ul,
.languages ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
    min-width: 250px;
    text-align: left;
    padding-top: 20px;
    box-shadow: 0 3px 5px -1px #ccc;
}

.loginMenu:hover > ul,
.logins ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
    min-width: 250px;
    text-align: left;
    padding-top: 20px;
    box-shadow: 0 3px 5px -1px #ccc;
}

.userMenu:hover > ul,
.userItems ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
    min-width: 145px;
    text-align: left;
    padding-top: 20px;
    box-shadow: 0 3px 5px -1px #ccc;
}

.langMenu, .loginMenu, .userItems {
    cursor: pointer;
    min-width: 250px;
    text-align: center;
    background-color: #f2f2f2;
    transition: 1s;
}

.languages li, .logins li, .userItems li {
    clear: both;
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
    border-style: none;
    padding-left: 10px;
}

.languages li a:hover, .logins li a:hover, .userItems li a:hover {
    padding-left: 10px;
    border-left: 2px solid #b08f34;
    transition: all 0.3s ease;
}

.languages li a, .logins li a, .userItems li a {
    transition: all 0.5s ease;
    color: #b08f34;
}